#mapOpener {
    width: 100%;
    height: 100%;
}

.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #555a;
    backdrop-filter: blur(0.5rem);
    z-index: 1000;
}

.modalDialog {
    --dialog-width: 70rem;
    --dialog-height: 50rem;

    position: fixed;
    left: calc((100vw - var(--dialog-width)) / 2);
    width: var(--dialog-width);
    top: calc((100vh - var(--dialog-height)) / 2);
    height: var(--dialog-height);

    border: 1px solid #ccc;

    display: grid;
    grid-template-areas: "header header"
                         "map    stationinfo"
                         "map    buttons";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3rem auto auto;
}

header {
    grid-area: header;
    /*height: 3rem;*/
    border-bottom: 1px solid #ccc;
    background-color: #944;
    color: #ccc;
    text-align: center;
    font-size: 150%;
    vertical-align: center;
}

weather-station-map {
    grid-area: map;
    position: relative;
}

dl {
    grid-area: stationinfo;

    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.5rem;
    padding: 1rem;

    dt {
        height: 1rem;
    }

    dd {
        height: 3rem;
        font-size: 150%;
        border-bottom: 1px solid #ccc;
        margin: 0 0 1rem;
        white-space: nowrap;
        overflow: hidden;
        justify-self: end;
    }
}
