<dialog #dialog>
    <div>
        <header>Chart-Konfiguration</header>

        <weather-station-map [selectedStation]="selectedStation"
                             (selectedStationChange)="selectedStationChangedOnMap($event)"/>

        <dl>
            <label for="station">Name der Wetterstation</label>
            <input id="station" type="text" readonly [value]="selectedStation?.name"/>

            <label for="state">Bundesland</label>
            <input id="state" type="text" readonly [value]="selectedStation?.federalState"/>

            <label for="height">Höhe über NN</label>
            <input id="height" type="text" readonly [value]="selectedStation?.height"/>

            <label for="measurement">Messwert</label>
            <select id="measurement" [(ngModel)]="measurementName">
                <option *ngFor="let name of availableMeasurementNames">{{ name }}</option>
            </select>

            <label for="chartType">Diagrammtyp</label>
            <select id="chartType">
                <option>monatlich</option>
                <option>täglich</option>
                <option>detailliert</option>
                <option>Histogramm</option>
            </select>

            <label for="year">Jahr</label>
            <input id="year" type="number" [(ngModel)]="year"/>
        </dl>



        <ul>
            <button (click)="closeDialogOk()">OK</button>
            <button (click)="closeDialogCancel()">Schließen</button>
        </ul>
    </div>
</dialog>
