<dialog #dialog>
    <div>
        <header>Diagramm-Konfiguration</header>

        <weather-station-map [selectedStation]="selectedStation"
                             (selectedStationChange)="selectedStationChangedOnMap($event)"/>

        <div id="configurationDetails">
            <fieldset>
                <legend>Ausgewählte Wetterstation</legend>
                <div class="station selected" *ngIf="selectedStation">
                    <span class="name">{{ selectedStation.name }}</span>
                    <span class="additional-information">{{ selectedStation.federalState}}, {{ selectedStation.height }} m ü. HNH</span>
                    <button (click)="removeSelectedStation()">&#x2716;</button>
                </div>
                <span class="station not-selected" *ngIf="!selectedStation">Bitte wähle eine Station auf der Karte</span>
            </fieldset>

            <fieldset>
                <legend>Messwert</legend>
                <div class="four-columns">
                    <button *ngFor="let m of availableMeasurements" (click)="measurementChanged(m)"
                            [ngClass]="{'selected': measurement == m}">
                        <img [ngSrc]="'assets/' + m.iconName + '.png'" alt="icon" height="32" width="32"/>
                        {{ m.name }}
                    </button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Diagrammtyp</legend>
                <div class="four-columns">
                    <button *ngFor="let type of chartTypes" (click)="chartTypeChanged(type)"
                            [ngClass]="{'selected': chartType == type}">
                        <img [ngSrc]="'assets/' + type.iconName + '.png'" alt="icon" height="32" width="32"/>
                        {{ type.name }}
                    </button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Jahr</legend>
                <input type="range" id="year" min="1900" max="2024" step="1" [(ngModel)]="year"/>
            </fieldset>

            <ul>
                <button (click)="closeDialogOk()">OK</button>
                <button (click)="closeDialogCancel()">Schließen</button>
            </ul>
        </div>
    </div>

    <!--    icons by <a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by-->
    <!--    Muhammad_Usman - Flaticon</a>-->
    <!--    <a href="https://www.flaticon.com/free-icons/compass" title="compass icons">Compass icons created by Muhammad_Usman-->
    <!--        - Flaticon</a>-->
</dialog>
