
dialog {
    --dialog-width: 70rem;
    --dialog-height: 50rem;

    width: var(--dialog-width);
    height: var(--dialog-height);

    border: 1px solid #ccc;

    &::backdrop {
        backdrop-filter: blur(0.5rem);
    }

    > div {
        display: grid;
        grid-template-areas: "header header"
                             "map    stationinfo"
                             "map    buttons";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 3rem auto auto;
        height: 100%;

        header {
            grid-area: header;
            /*height: 3rem;*/
            border-bottom: 1px solid #ccc;
            background-color: #944;
            color: #ccc;
            text-align: center;
            font-size: 150%;
            vertical-align: center;
        }

        weather-station-map {
            grid-area: map;
            position: relative;
        }

        dl {
            grid-area: stationinfo;

            display: flex;
            flex-direction: column;
            align-self: start;
            gap: 0.5rem;
            padding: 1rem;

            label {
                //height: 1rem;
                font-size: 80%;
            }

            input, select {
                height: 2rem;
                font-size: 125%;
                margin: 0 0 1rem;
                white-space: nowrap;
                overflow: hidden;
                justify-self: end;
                background-color: unset;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

