<div>
    <label>Zeitraum von</label>
    <input type="number" (change)="fromChanged($event)" [value]="filterService.year.value"/>

    <label>bis</label>
    <input type="number" (change)="toChanged($event)" [value]="filterService.endYear.value"/>

</div>

<div id="years-slider">
    <ngx-slider
        [options]="{floor: 1900, ceil: 2023, draggableRange: true, showTicksValues: true, tickStep: 10, tickValueStep: 10}"
        [value]="filterService.year.value"
        [highValue]="filterService.endYear.value"
        (userChangeEnd)="updateFilterService($event)"/>
</div>

<div id="monthsFilter">
    <toggable-button style="margin-bottom: 0.5rem" [subject]="filterService.wholeYear">Gesamtes Jahr</toggable-button>

    <toggable-button *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]"
                     [enabled]="!filterService.wholeYear.value"
                     [subject]="filterService.months[i]">
        {{getMonthName(i + 1)}}
    </toggable-button>
</div>
