<button (click)="addChart()">Chart hinzufügen</button>

<ktd-grid [cols]="gridColumns" [rowHeight]="gridRowHeight"
          [layout]="layout"
          [scrollableParent]="document"
          [scrollSpeed]="10"
          (layoutUpdated)="layout = $event"

          (resizeEnded)="onResize()">
    <ktd-grid-item *ngFor="let item of layout; trackBy: trackById" [id]="item.id" [transition]="'none'">
        <header ktdGridDragHandle>
            <span>{{ tile.title }}</span>
            <button (click)="tile.openChartConfigurationDialog()">config</button>
            <button (click)="removeTile(item.id)">remove</button>
        </header>

        <chart-tile #tile/>
    </ktd-grid-item>
</ktd-grid>

