<!--<div style="display: grid; width: 60%; grid-template-columns: repeat(14, auto)">-->
<!--    <span>wetterchroniken.de/</span>-->
<!--    <select>-->
<!--        <option>Ort 1</option>-->
<!--        <option>Ort 2</option>-->
<!--        <option>Ort 3</option>-->
<!--    </select>-->
<!--    <input type="number">-->
<!--    <select>-->
<!--        <option>Ganzes Jahr</option>-->
<!--        <option>Frühling</option>-->
<!--        <option>Sommer</option>-->
<!--        <option>Herbst</option>-->
<!--        <option>Winter</option>-->
<!--        <option>Januar</option>-->
<!--        <option>Februar</option>-->
<!--        <option>März</option>-->
<!--        <option>April</option>-->
<!--        <option>Mai</option>-->
<!--        <option>Juni</option>-->
<!--        <option>Juli</option>-->
<!--        <option>August</option>-->
<!--        <option>September</option>-->
<!--        <option>Oktober</option>-->
<!--        <option>November</option>-->
<!--        <option>Dezember</option>-->
<!--    </select>-->
<!--</div>-->

<station-and-date-filter (onFilterChanged)="filterChanged($event)" #filterComponent></station-and-date-filter>

<div class="experiment">
    <min-avg-max-chart
            [color]="'hsl(0, 80%, 45%)'"
            [fill]="'hsla(0, 80%, 45%, 0.3)'"
            [lineWidth]="2"
            [showAxes]=false
            [path]="'temperature'"
            [filterComponent]=filterComponent></min-avg-max-chart>

    <precipitation-chart #precipitationChart></precipitation-chart>
    <sunshine-chart #sunshineChart></sunshine-chart>
    <wind-speed-chart #windSpeedChart></wind-speed-chart>

    <min-avg-max-chart
            [color]="'hsl(220, 80%, 30%)'"
            [fill]="'hsla(220, 80%, 30%, 0.3)'"
            [lineWidth]="2"
            [showAxes]=false
            [path]="'humidity'"
            [filterComponent]=filterComponent></min-avg-max-chart>

    <min-avg-max-chart
            [color]="'hsl(220, 80%, 70%)'"
            [fill]="'hsla(220, 80%, 70%, 0.3)'"
            [lineWidth]="2"
            [path]="'dewPointTemperature'"
            [showAxes]=false
            [filterComponent]=filterComponent></min-avg-max-chart>

    <min-avg-max-chart
            [color]="'hsl(120, 80%, 45%)'"
            [fill]="'hsla(120, 80%, 45%, 0.15)'"
            [lineWidth]="2"
            [includeZero]=false
            [showAxes]=false
            [path]="'airPressure'"
            [filterComponent]=filterComponent></min-avg-max-chart>

    <min-avg-max-chart
            [color]="'hsl(0, 0%, 70%)'"
            [fill]="'hsla(0, 0%, 70%, 0.3)'"
            [lineWidth]="2"
            [showAxes]=false
            [includeZero]=false
            path="visibility"
            [filterComponent]=filterComponent></min-avg-max-chart>

</div>

<div class="tab-headers">
    <div class="tab">
        <div class="tab-header">
            <div class="tab-title">Temperatur</div>
            <div class="min-value">-12 °C</div>
            <div class="min-value-title">Min</div>
            <div class="avg-value">12 °C</div>
            <div class="avg-value-title">Avg</div>
            <div class="max-value">32 °C</div>
            <div class="max-value-title">Max</div>
        </div>
        <div class="tab-body">
            <!--            <temperature-chart #temperatureChart></temperature-chart>-->
            <div style="border: 1px solid #777">HISTOGRAMM</div>
        </div>
    </div>
</div>

<!--<mat-tab-group animationDuration="0">-->
<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            -->
<!--        </ng-template>-->

<!--        <div class="tab-body">-->

<!--          -->
<!--        </div>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Niederschlag-->
<!--        </ng-template>-->

<!--        <div class="tab-body">-->
<!--            <precipitation-chart #precipitationChart></precipitation-chart>-->
<!--        </div>-->
<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Sonnenschein-->
<!--        </ng-template>-->
<!--        <div class="tab-body">-->
<!--            <sunshine-chart #sunshineChart></sunshine-chart>-->
<!--        </div>-->
<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Bewölkung-->
<!--        </ng-template>-->
<!--        <cloudiness-chart #cloudinessChart></cloudiness-chart>-->
<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Wind-->
<!--        </ng-template>-->
<!--        <wind-speed-chart #windSpeedChart></wind-speed-chart>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Windrichtung-->
<!--        </ng-template>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Luftfeuchtigkeit-->
<!--        </ng-template>-->
<!--        <humidity-chart #humidityChart></humidity-chart>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Taupunkt-->
<!--        </ng-template>-->
<!--        <dew-point-temperature-chart #dewPointTemperatureChart></dew-point-temperature-chart>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Luftdruck-->
<!--        </ng-template>-->
<!--        <air-pressure-chart #airPressureChart></air-pressure-chart>-->

<!--    </mat-tab>-->

<!--    <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--            Sichtweite-->
<!--        </ng-template>-->
<!--        <visibility-chart #visibilityChart></visibility-chart>-->

<!--    </mat-tab>-->
<!--</mat-tab-group>-->

