<station-and-date-filter #filterComponent></station-and-date-filter>

<button (click)="columnCount = 1">1</button>
<button (click)="columnCount = 2">2</button>
<button (click)="columnCount = 3">3</button>

<div [ngClass]="{'chart-tiles': true, 'one-column': columnCount == 1, 'two-columns': columnCount == 2, 'three-columns': columnCount == 3}">
    <section class="chart-tile">
        <h1>Temperatur</h1>

        <div class="summary">
            &#x2b9f; {{filterComponent.data?.summary?.minTemperature?.toFixed(1)}}°C
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#8960; {{filterComponent.data?.summary?.avgTemperature?.toFixed(1)}}°C
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxTemperature?.toFixed(1)}}°C
        </div>

        <min-avg-max-chart class="chart"
                           [color]="'hsl(0, 80%, 45%)'" [fill]="'hsla(0, 80%, 45%, 0.3)'"
                           [min]="'minTemperature'" [avg]="'avgTemperature'" [max]="'maxTemperature'"
                           [filterComponent]=filterComponent
                           (click)="showDetails('temperature')"></min-avg-max-chart>
    </section>

    <section class="chart-tile">
        <h1>Sonnenschein</h1>

        <div class="summary">&#931; {{filterComponent.data?.summary?.sunshineDuration?.toFixed(1)}}h</div>

        <sum-chart class="chart" [fill]="'hsl(40, 100%, 50%)'" [sum]="'sunshineDuration'"
                   [filterComponent]=filterComponent></sum-chart>
    </section>

    <section class="chart-tile">
        <h1>Niederschlag</h1>

        <div class="summary">
            Regen &#931; {{filterComponent.data?.summary?.rainfall?.toFixed(1)}}l/m²
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            Schnee &#931; {{filterComponent.data?.summary?.snowfall?.toFixed(1)}}mm
        </div>

        <sum-chart class="chart" [fill]="'hsl(240, 100%, 50%)'" [fill2]="'hsl(40, 0%, 80%)'" [sum]="'rainfall'"
                   [filterComponent]=filterComponent></sum-chart>
    </section>

    <section class="chart-tile">
        <h1>Wind</h1>

        <div class="summary">
            &#8960; {{filterComponent.data?.summary?.avgWindspeed?.toFixed(1)}}m/s
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxWindspeed?.toFixed(1)}}m/s
        </div>

        <min-avg-max-chart class="chart" [color]="'hsl(270, 80%, 65%)'" [fill]="'hsla(270, 80%, 65%, 0.3)'"
                           [avg]="'avgWindspeed'" [max]="'maxWindspeed'"
                           [filterComponent]=filterComponent></min-avg-max-chart>

    </section>

    <section class="chart-tile">

        <h1>Luftfeuchtigkeit</h1>

        <div class="summary">
            &#x2b9f; {{filterComponent.data?.summary?.minHumidity?.toFixed(1)}}%
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#8960; {{filterComponent.data?.summary?.avgHumidity?.toFixed(1)}}%
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxHumidity?.toFixed(1)}}%
        </div>

        <min-avg-max-chart class="chart" [color]="'hsl(220, 80%, 30%)'" [fill]="'hsla(220, 80%, 30%, 0.3)'"
                           [min]="'minHumidity'" [avg]="'avgHumidity'" [max]="'maxHumidity'"
                           [filterComponent]=filterComponent></min-avg-max-chart>
    </section>

    <section class="chart-tile">
        <h1>Taupunkt</h1>

        <div class="summary">
            &#x2b9f; {{filterComponent.data?.summary?.minDewPointTemperature?.toFixed(1)}}°C
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#8960; {{filterComponent.data?.summary?.avgDewPointTemperature?.toFixed(1)}}°C
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxDewPointTemperature?.toFixed(1)}}°C
        </div>

        <min-avg-max-chart class="chart" [color]="'hsl(220, 80%, 70%)'" [fill]="'hsla(220, 80%, 70%, 0.3)'"
                           [min]="'minDewPointTemperature'" [avg]="'avgDewPointTemperature'"
                           [max]="'maxDewPointTemperature'"
                           [filterComponent]=filterComponent></min-avg-max-chart>

    </section>

    <section class="chart-tile">

        <h1>Luftdruck</h1>

        <div class="summary">
            &#x2b9f; {{filterComponent.data?.summary?.minAirPressure?.toFixed(1)}}hPa
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#8960; {{filterComponent.data?.summary?.avgAirPressure?.toFixed(1)}}hPa
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxAirPressure?.toFixed(1)}}hPa
        </div>

        <min-avg-max-chart class="chart" [color]="'hsl(120, 80%, 45%)'" [fill]="'hsla(120, 80%, 45%, 0.15)'"
                           [min]="'minAirPressure'" [avg]="'avgAirPressure'" [max]="'maxAirPressure'"
                           [includeZero]=false
                           (click)="showDetails('airPressure')"
                           [filterComponent]=filterComponent></min-avg-max-chart>

    </section>

    <section class="chart-tile">

        <h1>Sichtweite</h1>

        <div class="summary">
            &#x2b9f; {{filterComponent.data?.summary?.minVisibility?.toFixed(0)}}m
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#8960; {{filterComponent.data?.summary?.avgVisibility?.toFixed(0)}}m
            &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
            &#x2b9d; {{filterComponent.data?.summary?.maxVisibility?.toFixed(0)}}m
        </div>

        <min-avg-max-chart class="chart" [color]="'hsl(0, 0%, 70%)'" [fill]="'hsla(0, 0%, 70%, 0.3)'"
                           [logarithmic]="true" [maxValue]="100000"
                           [min]="'minVisibility'" [avg]="'avgVisibility'" [max]="'maxVisibility'"
                           [filterComponent]=filterComponent></min-avg-max-chart>
    </section>

    <section class="chart-tile">
        <h1>Bewölkung</h1>

        <div class="summary">
        </div>

        <histogram-chart class="chart" [filterComponent]=filterComponent></histogram-chart>
    </section>
</div>
