h1, h2 {
    margin: 0;
}

.chart-tiles {
    display: grid;
    justify-content: center;
    grid-gap: 1vw 2vw;
}

.chart-tiles.one-column {
    grid-template-columns: max(96vw, 30rem);
}

.chart-tiles.two-columns {
    grid-template-columns: repeat(2, max(46.5vw, 30rem));
}

.chart-tiles.three-columns {
    grid-template-columns: repeat(3, max(31vw, 30rem));
}

section.chart-tile {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.chart-tiles.one-column > .chart-tile {
    grid-template-rows: 2rem 40vw;
}

.chart-tiles.two-columns > .chart-tile {
    grid-template-rows: 2rem 20vw;
}

.chart-tiles.three-columns > .chart-tile {
    grid-template-rows: 2rem 15vw;
}

section.chart-tile > h1 {
    font-weight: normal;
    align-self: end;
}

section.chart-tile > .summary {
    justify-self: right;
    align-self: end;
}

section.chart-tile > .chart {
    grid-column: span 2;
    height: 100%;
}
