.tab-body {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    height: 30vw;
}

.tab-headers {
    display: flex;
}

.tab-header {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-gap: 1rem;
}

md-tabs md-ink-bar {
    background-color: black;
}

.tab-header > .tab-title {
    grid-column-end: span 3;
}


.min-value {

}

h1, h2 {
    margin: 0;
}

.experiment {
    /*margin-left: 40rem;*/
    display: grid;
    grid-template-columns: 60rem 20rem;
    grid-template-rows: max-content 20rem;
    grid-auto-rows: max-content 20rem;
}

.experiment > h1 {
    /*grid-area: a;*/
    grid-column: span 2;
}

.summary-value {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.summary-value > .legend {
    font-size: 0.8rem;
}

.summary-value > .value {
    font-size: 1.2rem;
    /*justify-self: right;*/
}

.summary-value > .when {
    font-size: 0.8rem;
}
