:host {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2%;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

station-and-date-filter {
    grid-column-start: 2;
    grid-column-end: 1

}

aside {
    position: absolute;
    left: 2rem;
    top: 10rem;
    bottom: 5rem;
    width: 30rem;
    border: 1px solid aquamarine;
}

main {
    position: absolute;

    left: 34rem;
    top: 10rem;
    bottom: 5rem;
    right: 2rem;
    overflow-y: scroll;

    border: 1px solid aquamarine;

    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: repeat(5, 20vw);*/
    /*grid-column-gap: 1vw;*/
    /*grid-row-gap: 1vh;*/
}



main > section {
    border: 1px solid aquamarine;
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    /*height: 24rem;*/
}

main > section > h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main > section > article {
    border: 1px solid aquamarine;
    height: 100%;

}
