:host {
    display: grid;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: 6rem 13rem 4rem 6rem;
    grid-auto-rows: var(--component-grid-row-height);
}

* {
    margin: auto 0;
}

label {
    text-align: right;
}
