:host {
    display: flex;
    width: 100%;
    gap: 0.3rem;
}

fa-icon {
    margin: auto 0.3rem;
    font-size: 80%;
}

button {
    border: var(--fine-border-line);
}

input {
    width: 4rem;
    font-size: inherit;
    text-align: center;
    flex-grow: 1;
}

