<heatmap-chart #chart class="chart" name="Wolkenbedeckung" unit="/8"
               [yAxisLabelFormatter]="yAxisHours"
               [detailProperty]="'cloudCoverage'"
               measurementName="cloud-coverage/details"
               [colorStops]="[{value: -1, color: '#600'},
                                    {value: 0, color: '#a3ccf5'},
                                    {value: 1, color: '#e7f2fe'},
                                    {value: 2, color: '#faf7d1'},
                                    {value: 3, color: '#ede8ab'},
                                    {value: 4, color: '#d5cf90'},
                                    {value: 5, color: '#c9c6c3'},
                                    {value: 6, color: '#999795'},
                                    {value: 7, color: '#797877'},
                                    {value: 8, color: '#535353'}]"/>
