@import url("https://code.highcharts.com/css/highcharts.css");

:host {
    // this is used to let #chartContainer position be fixed
    transform: translate(0, 0);
}

header[ktdGridDragHandle] {
    display: block;

    > span {
        cursor: move;
        white-space: nowrap;
    }
}

#chartContainer {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
}
