<label for="station">Ort</label>
<station-selector (stationSelected)="weatherStationSelected($event)" id="station"/>

<label for="chartTypeDropdown">Diagramm</label>
<dropdown-list id="chartTypeDropdown"
               [elements]="availableChartDefinitions"
               [(selectedElement)]="chartDefinition"
               [elementToString]="getChartDefinitionName"/>

<label for="year">Jahr</label>
<input id="year" type="number" [(ngModel)]="year"/>

<div id="chartContainer">
    <ng-container *ngComponentOutlet="chartDefinition.component"/>
</div>
