<label for="station">Ort</label>
<station-selector (stationSelected)="weatherStationSelected($event)" id="station"/>

<label for="chartTypeDropdown">Diagramm</label>
<dropdown-box id="chartTypeDropdown" width="40rem">
    <div button>
        {{ chartDefinition.name }}
    </div>

    <div dropdown style="display: flex; gap: 0.5rem; flex-direction: column; column-count: 2; width: 40rem">
        <div class="chart-definition-group">
            <header>Temperaturen</header>
            <div class="chart-definitions">
                <span (click)="chartDefinition = airTemperatureSummary">Lufttemperatur Min/Avg/Max</span>
                <span (click)="chartDefinition = airTemperatureDetails">Lufttemperatur Details</span>
                <span (click)="chartDefinition = dewPointTemperatureSummary">Taupunkttemperatur Min/Avg/Max</span>
            </div>
        </div>

        <div class="chart-definition-group">
            <header>Sonnenschein</header>
            <div class="chart-definitions">
                <span (click)="chartDefinition = sunshineDurationSum">Summe</span>
                <span (click)="chartDefinition = sunshineDurationDetails">Details</span>
            </div>
        </div>

        <div class="chart-definition-group">
            <header>Niederschlag</header>
            <div class="chart-definitions">
                <span (click)="chartDefinition = rainSummary">Regen Summe</span>
                <span (click)="chartDefinition = snowSummary">Schnee Summe</span>
            </div>
        </div>

        <div class="chart-definition-group">
            <header>Wolken</header>
            <div class="chart-definitions">
                <span (click)="chartDefinition = cloudCoverageDetails">Bedeckungsgrad</span>
            </div>
        </div>

        <div class="chart-definition-group">
            <header>Weitere</header>
            <div class="chart-definitions">
                <span (click)="chartDefinition = airPressureSummary">Luftdruck</span>
                <span (click)="chartDefinition = humiditySummary">Luftfeuchtigkeit</span>
                <span (click)="chartDefinition = visibilitySummary">Sichtweite</span>
            </div>
        </div>

    </div>
</dropdown-box>

<!--<dropdown-list id="chartTypeDropdown"-->
<!--               [elements]="availableChartDefinitions"-->
<!--               [(selectedElement)]="chartDefinition"-->
<!--               [elementToString]="getChartDefinitionName"/>-->

<label for="year">Jahr</label>
<input id="year" type="number" [(ngModel)]="year"/>

<div id="chartContainer">
    <ng-container *ngComponentOutlet="chartDefinition.component"/>
</div>
