@import url("https://code.highcharts.com/css/highcharts.css");

:host {
    display: grid;
    grid-template-areas: "stationLabel chartTypeLabel yearLabel ."
                         "station      charttype      year      ."
                         "chart        chart          chart     chart";
    grid-template-columns: 17rem 17rem 7rem 1fr;
    grid-template-rows: auto 3rem auto;
    gap: 0.5rem 1rem;
}

label {
    font-size: 80%;

    &[for="station"] {
        grid-area: stationLabel;
    }

    &[for="chartType"] {
        grid-area: chartTypeLabel;
    }

    &[for="year"] {
        grid-area: yearLabel;
    }
}

station-selector {
    grid-area: station;
}

#chartTypeDropdown {
    grid-area: charttype;
}

#year {
    grid-area: year;
    padding: 0 1rem;
    text-align: right;
}

#chartContainer {
    /*grid-area: chart;*/
    grid-column: span 7;
}

.chart {
    width: 50rem;
    height: 30rem;
    display: block;
}
