
<div class="range-slider-component-container-whatever-that-may-be">
    <div class="range-slider">
        <div class="track">
            <div class="background"
                 [ngStyle]="{width: 'calc(' + (lowerYear - minYear) / (maxYear - minYear) * 100 + '%)'}">
            </div>
            <div class="range"
                 [ngStyle]="{width: 'calc(' + (upperYear - lowerYear) / (maxYear - minYear) * 100 + '%)'}">
            </div>
            <div class="background"
                 [ngStyle]="{width: 'calc(' + (maxYear - upperYear) / (maxYear - minYear) * 100 + '%)'}">
            </div>
        </div>
        <div class="ticks">
            <div class="tick" *ngFor="let tick of ticks"
                 [ngStyle]="{left: 'calc(' + (tick - minYear) / (maxYear - minYear) * 100 + '%)'}">
                {{tick}}
            </div>
        </div>
        <input type="range" [min]="minYear" [max]="maxYear" [(ngModel)]="lowerYear" step="1"/>
        <input type="range" [min]="minYear" [max]="maxYear" [(ngModel)]="upperYear" step="1"/>
    </div>
</div>

<input type="number" [min]="minYear" [max]="maxYear" [(ngModel)]="lowerYear">
<input type="number" [min]="minYear" [max]="maxYear" [(ngModel)]="upperYear">

