:host {
    display: grid;
    grid-template-columns: 6rem 13rem 3rem 13rem;
    grid-gap: 0.5rem 1rem;
}

label {
    text-align: right;
    margin: auto 0;
}

.grid {
    display: grid;
    grid-gap: 0.2rem;
    justify-items: center;
    text-align: center;
}

.four-columns {
    grid-template-columns: repeat(4, 1fr);
}

.month-selection {
    grid-column: span 2;
}
