<label>Von</label>
<year-selection [year]="filterService.year"></year-selection>
<label>Bis</label>
<year-selection [year]="filterService.endYear"></year-selection>

<label id="months-filter-label">Monate</label>
<dropdown style="grid-column: span 3; font-size: 70%;">
    <div button>Alle</div>

    <div dropdown style="display: flex">
        <div class="grid four-columns">
            <toggable-button [value]="1">Januar</toggable-button>
            <toggable-button [value]="2">Februar</toggable-button>
            <toggable-button [value]="3">März</toggable-button>
            <toggable-button [value]="4">April</toggable-button>
            <toggable-button [value]="5">Mai</toggable-button>
            <toggable-button [value]="6">Juni</toggable-button>
            <toggable-button [value]="7">Juli</toggable-button>
            <toggable-button [value]="8">August</toggable-button>
            <toggable-button [value]="9">September</toggable-button>
            <toggable-button [value]="10">Oktober</toggable-button>
            <toggable-button [value]="11">November</toggable-button>
            <toggable-button [value]="12">Dezember</toggable-button>
            <toggable-button style="grid-column: span 4">Gesamtes Jahr</toggable-button>
        </div>
    </div>
</dropdown>
