<section>
    <h1>Temperatur</h1>


    <heatmap-chart class="chart" id="airTemperatureHeatmap" [detailProperty]="'airTemperatureCentigrade'"
                   [colorStops]="[{value: -30, color: '#f7d8ff'},
                                        {value: -20,  color :'#b00fe8'},
                                        {value: -10, color: '#0e0ee8'},
                                        {value: 0,  color:'#82a8ff'},
                                        {value: 10, color:'#ab3'},
                                         {value: 20, color: '#fd3'},
                                         {value: 30,color: '#f60'},
                                          {value: 40, color: '#a00'}]"/>

    <min-avg-max-chart class="chart" id="temperatureChart" [property]="'airTemperatureCentigrade'"/>


    <dl class="summary">
        <dt>&#x2b9d;</dt>
        <dd>{{filterService.currentData.value?.summary?.airTemperatureCentigrade?.max?.toFixed(1)}}°C</dd>

        <dt>&#8960;</dt>
        <dd> {{filterService.currentData.value?.summary?.airTemperatureCentigrade?.avg?.toFixed(1)}}°C</dd>

        <dt>&#x2b9f;</dt>
        <dd>{{filterService.currentData.value?.summary?.airTemperatureCentigrade?.min?.toFixed(1)}}°C</dd>
    </dl>

</section>

<hr/>

<section>
    <h1>Sonnenschein</h1>

    <sum-chart class="chart" id="sunshineDurationChart" [sumProperty]="'sunshineMinutes'"/>

    <heatmap-chart class="chart" [detailProperty]="'sunshineMinutes'"
                   [colorStops]="[
                        {value: 0, color: '#282828'},
                        {value: 1, color: '#433'},
                        {value: 60, color: '#fa0'}]"/>

    <div class="summary">
        &#931; {{divideBy60(filterService.currentData.value?.summary?.sunshineMinutes?.sum)?.toFixed(1)}}h
        &#8960; {{divideBy60(filterService.currentData.value?.summary?.sunshineMinutes?.sum)?.toFixed(1)}}h
    </div>
</section>

<hr/>

<section>
    <h1>Niederschlag</h1>

    <sum-chart class="chart" id="precipitationChart"
               [sumProperty]="'rainfallMillimeters'"
               [sum2Property]="'snowfallMillimeters'"/>

    <div class="summary">
        <fa-icon [icon]="faRain"></fa-icon>
        {{filterService.currentData.value?.summary?.rainfallMillimeters?.sum?.toFixed(1)}}l/m²
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        <fa-icon [icon]="faSnow"></fa-icon>
        {{filterService.currentData.value?.summary?.snowfallMillimeters?.sum?.toFixed(1)}}mm
    </div>
</section>

<hr/>

<section>
    <h1>Wind</h1>

    <min-avg-max-chart class="chart" id="windChart" [property]="'windSpeedMetersPerSecond'"/>

    <div class="summary">
        &#8960; {{filterService.currentData.value?.summary?.windSpeedMetersPerSecond?.avg?.toFixed(1)}}m/s
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#x2b9d; {{filterService.currentData.value?.summary?.windSpeedMetersPerSecond?.max?.toFixed(1)}}m/s
    </div>
</section>

<hr/>

<section>
    <h1>Windrichtung</h1>

    <wind-direction-chart class="chart" id="windDirectionChart"/>
</section>

<hr/>

<section>
    <h1>Luftfeuchtigkeit</h1>

    <min-avg-max-chart class="chart" id="humidityChart" [property]="'humidityPercent'"/>

    <div class="summary">
        &#x2b9f; {{filterService.currentData.value?.summary?.humidityPercent?.min?.toFixed(1)}}%
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#8960; {{filterService.currentData.value?.summary?.humidityPercent?.avg?.toFixed(1)}}%
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#x2b9d; {{filterService.currentData.value?.summary?.humidityPercent?.max?.toFixed(1)}}%
    </div>
</section>

<hr/>

<section>
    <h1>Taupunkt</h1>

    <min-avg-max-chart class="chart" id="dewPointTemperatureChart" [property]="'dewPointTemperatureCentigrade'"/>

    <div class="summary">
        &#x2b9f; {{filterService.currentData.value?.summary?.dewPointTemperatureCentigrade?.min?.toFixed(1)}}°C
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#8960; {{filterService.currentData.value?.summary?.dewPointTemperatureCentigrade?.avg?.toFixed(1)}}°C
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#x2b9d; {{filterService.currentData.value?.summary?.dewPointTemperatureCentigrade?.max?.toFixed(1)}}°C
    </div>
</section>

<hr/>

<section>
    <h1>Luftdruck</h1>

    <min-avg-max-chart class="chart" id="airPressureChart" [property]="'airPressureHectopascals'"/>

    <div class="summary">
        &#x2b9f; {{filterService.currentData.value?.summary?.airPressureHectopascals?.min?.toFixed(1)}}hPa
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#8960; {{filterService.currentData.value?.summary?.airPressureHectopascals?.avg?.toFixed(1)}}hPa
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#x2b9d; {{filterService.currentData.value?.summary?.airPressureHectopascals?.max?.toFixed(1)}}hPa
    </div>
</section>

<hr/>

<section>
    <h1>Sichtweite</h1>

    <min-avg-max-chart class="chart" id="visibilityChart" [property]="'visibilityMeters'"/>

    <div class="summary">
        &#x2b9f; {{filterService.currentData.value?.summary?.visibilityMeters?.min?.toFixed(0)}}m
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#8960; {{filterService.currentData.value?.summary?.visibilityMeters?.avg?.toFixed(0)}}m
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        &#x2b9d; {{filterService.currentData.value?.summary?.visibilityMeters?.max?.toFixed(0)}}m
    </div>
</section>

<hr/>

<section>
    <h1>Bewölkung</h1>

    <heatmap-chart class="chart" [detailProperty]="'cloudCoverage'"
                   [colorStops]="[{value: -1, color: '#600'},
                                    {value: 0, color: '#a3ccf5'},
                                    {value: 1, color: '#e7f2fe'},
                                    {value: 2, color: '#faf7d1'},
                                    {value: 3, color: '#ede8ab'},
                                    {value: 4, color: '#d5cf90'},
                                    {value: 5, color: '#c9c6c3'},
                                    {value: 6, color: '#999795'},
                                    {value: 7, color: '#797877'},
                                    {value: 8, color: '#535353'}]"/>

    <div class="summary">
        <fa-icon [icon]="faSun"></fa-icon>
        {{percentageOfCloudCoverage(filterService.currentData.value?.summary?.cloudCoverageHistogram, [0, 1, 2])}}
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        <fa-icon [icon]="faCloudSun"></fa-icon>
        {{percentageOfCloudCoverage(filterService.currentData.value?.summary?.cloudCoverageHistogram, [3, 4, 5])}}
        &nbsp;&nbsp;&#x25CF;&nbsp;&nbsp;
        <fa-icon [icon]="faCloud"></fa-icon>
        {{percentageOfCloudCoverage(filterService.currentData.value?.summary?.cloudCoverageHistogram, [6, 7, 8, 9])}}
    </div>
</section>
