@import url("https://code.highcharts.com/css/highcharts.css");

:host {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


section {
    display: grid;
    grid-template-areas: "title summary"
                         "chart chart";
    grid-template-columns: auto 1fr;
    gap: 1rem;

    > h1 {
        grid-area: title;
        font-weight: normal;
        font-size: 130%;
        align-self: end;
        text-align: left;
    }

    > dl {
        grid-area: summary;
        font-weight: lighter;
        align-self: end;
        margin: 0;

        display: flex;
        gap: 1rem;

        dd {
            margin: 0;
        }
    }

    > highcharts-chart {
        width: 100%;
        height: 100%;
        aspect-ratio: 3;
        display: block;
    }

    .chart {
        grid-area: chart;
        --highcharts-background-color: #0000;
        aspect-ratio: 3;
        //grid-row: span 2;
    }
}

hr {
    width: 100%;
    border: none;
    border-bottom: var(--fine-border-line);
}

#temperatureChart {
    --highcharts-color-0: #b007;
    --highcharts-color-1: #b00;
}

#sunshineDurationChart {
    --highcharts-color-0: #ea2;
}

#precipitationChart {
    --highcharts-color-0: hsl(210, 80%, 50%);
    --highcharts-color-1: hsl(210, 90%, 95%);
}

#sunshineDurationChart .highcharts-point {
    stroke-width: 0;
}

#windChart {
    --highcharts-color-0: hsla(270, 80%, 65%, 50%);
    --highcharts-color-1: hsl(270, 80%, 65%);
}

#humidityChart {
    --highcharts-color-0: hsla(220, 80%, 30%, 50%);
    --highcharts-color-1: hsl(220, 80%, 30%);

}

#dewPointTemperatureChart {
    --highcharts-color-0: hsla(220, 80%, 70%, 50%);
    --highcharts-color-1: hsl(220, 80%, 70%);

}

#airPressureChart {
    --highcharts-color-0: hsla(120, 80%, 45%, 50%);
    --highcharts-color-1: hsl(120, 80%, 45%);
}

#visibilityChart {
    --highcharts-color-0: hsla(190, 20%, 90%, 50%);
    --highcharts-color-1: hsl(190, 20%, 90%);
}
