<ng-select [(ngModel)]="selectedStation" [items]="stations" groupBy="federalState" bindLabel="name" (change)="fireFilterChangedEvent()">

    <ng-template ng-optgroup-tmp let-currentGroup="item">
        {{currentGroup.federalState || 'Unnamed group'}}
    </ng-template>

    <ng-template ng-option-tmp let-currentStation="item">
        {{currentStation.name}}
    </ng-template>
</ng-select>

<input type="number" placeholder="Von" min="1800" max="2022" [formControl]="fromYear"
       (change)="fireFilterChangedEvent()">
<input type="number" placeholder="Bis" min="1900" max="2022" [formControl]="toYear"
       (change)="fireFilterChangedEvent()">
