:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.4);

    margin: 0 -2rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.8);

    backdrop-filter: blur(5rem);
}

.map {
    width: 100%;
    aspect-ratio: 3 / 4;
    padding: 0;
}

h1 {
    font-weight: normal;
    font-size: 1.3rem;
}

.date-range-filter {
    margin: 0.5rem 1.5rem;
}

.date-range-filter:hover {
    cursor: pointer;
}