:host {
    display: grid;
    grid-template-columns: 30rem 8rem 8rem;
    grid-gap: 1rem;
}

div.filter {
    border: 1px solid #777;
    border-radius: 15px;
    padding: 0.3em 1em;
    background-color: #ddd;
    /*font-size: 2rem;*/
    color: #333;
    /*display: inline-block;*/
}

#stationsSearch {
    width: 20rem;
    height: 2.5rem;
    display: inline-block;
}

/*div.filter:after {*/
/*    border-left: 1px solid red;*/
/*}*/

div.filter-attribute {
    padding: 20px;
    color: #333;
    display: inline-block;
}

label {
    display: block;
    /*font-size: 1.2em;*/
}

#stationsSearch {
    width: 30em;
}

.dropdownBox {

}

.dropdownPanel {
    position: absolute;
    z-index: 1000;
    background-color: aliceblue;
    width: 100%;
}

.selectionList {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    max-height: 50rem;
    overflow-y: scroll;
}

.selectItem {
    cursor: pointer;
    margin: 0;
    padding: 0.4rem 1rem;
}

.selectItem:hover {
    background-color: #e80;
}
