<div class="map" leaflet [leafletOptions]="options">
    <div *ngIf="stationsLayer !== undefined" [leafletLayer]="stationsLayer"></div>
</div>

<div style="font-size: 1.3rem">
    <div class="date-range-filter" (click)="filter(DateRangeFilter.THIS_MONTH)">diesen Monat</div>
    <div class="date-range-filter" (click)="filter(DateRangeFilter.LAST_MONTH)">vergangenen Monat</div>
    <div class="date-range-filter" (click)="filter(DateRangeFilter.THIS_YEAR)">dieses Jahr</div>
    <div class="date-range-filter" (click)="filter(DateRangeFilter.LAST_YEAR)">letztes Jahr</div>
    <div class="date-range-filter" (click)="filter(DateRangeFilter.CUSTOM)">eigener Zeitraum:</div>
</div>


<!--<ngx-slider (valueChange)="sliderValueChange()" (highValueChange)="sliderHighValueChange()" [(value)]=fromYear-->
<!--            [(highValue)]=toYear [options]=sliderOptions></ngx-slider>-->

<!--<fa-icon [icon]="faMapLocationDot"></fa-icon>-->

<!--<ng-select [(ngModel)]="selectedStation" [items]="stations" groupBy="federalState" bindLabel="name" (change)="fireFilterChangedEvent()">-->

<!--    <ng-template ng-optgroup-tmp let-currentGroup="item">-->
<!--        {{currentGroup.federalState || 'Unnamed group'}}-->
<!--    </ng-template>-->

<!--    <ng-template ng-option-tmp let-currentStation="item">-->
<!--        {{currentStation.name}}-->
<!--    </ng-template>-->
<!--</ng-select>-->

<!--<input type="number" placeholder="Von" min="1800" max="2022" [formControl]="fromYear"-->
<!--       (change)="fireFilterChangedEvent()">-->
<!--<input type="number" placeholder="Bis" min="1900" max="2022" [formControl]="toYear"-->
<!--       (change)="fireFilterChangedEvent()">-->
