/*@import "~@ng-select/ng-select/themes/default.theme.css";*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #e0e8ef;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
}
