:host {
    overflow: hidden;
}

highcharts-chart {
    width: 100%;
    height: 100%;
    display: block;
}


highcharts-chart .highcharts-line-series .highcharts-graph {
    stroke-width: 2px;
}

highcharts-chart .highcharts-arearange-series .highcharts-graph {
    stroke-width: 0;
}
