highcharts-chart {
    width: 100%;
    display: block;
    aspect-ratio: 3;
}


highcharts-chart .highcharts-line-series .highcharts-graph {
    stroke-width: 2px;
}

highcharts-chart .highcharts-arearange-series .highcharts-graph {
    stroke-width: 0;
}
