:host {
    --slider-height: 3rem;
    --slider-padding: 1rem;
    --slider-thumb-height: 2rem;
    --slider-thumb-width: 1rem;
}

.range-slider-component-container-whatever-that-may-be {
    height: var(--slider-height);
}

.range-slider {
    position: relative;
    width: 100%;
    height: 100%;
    /*padding-bottom: 2rem;*/
    background-color: #486;
    /*padding: var(--slider-padding);*/
}

.range-slider > .track {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: calc(var(--slider-thumb-width) / 2);
    right: calc(var(--slider-thumb-width) / 2);
}

.range-slider > .track > .background {
    background: #777;
}

.range-slider > .track > .range {
    background: #ccc;
}

.range-slider > .ticks {
    width: 100%;
    background: brown;
    position: relative;
}

.range-slider > .ticks > .tick {
    position: absolute;
    bottom: 0;
}

input[type=range] {
    pointer-events: none;
    appearance: none;
    margin: 0;
    color: inherit;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: var(--slider-thumb-height);
    width: var(--slider-thumb-width);
    /*    border-radius: 0.5rem;*/
    padding: 0.5rem 0;
    background: #eee8;
    cursor: ew-resize;
    pointer-events: auto;
}

/*input[type='range']::-webkit-slider-runnable-track {*/
/*    appearance: none;*/
/*    background: none;*/
/*    !*height: 0.3rem;*!*/
/*    !*margin: 0 0.5rem;*!*/
/*}*/

